section{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 1fr 1fr 1fr 1fr;
    border: 0.09rem solid burlywood;
    border-radius: 0.5rem;
    outline: red;

}
div{
    border: 1px solid #98d2ff;
    text-align: center;
    padding: 1.35rem;
    font-weight: bold;
    font-size: 1.2rem;


}
.div_large{
    grid-area: 3/4/7/5;
    background-color: lightcoral;
}
#div_0{
    border-top-right-radius: 0.5rem;
}
#div_start{
    border-top-left-radius: 0.5rem;
}
#div_start,#div_start2,#div_start3,#div_0{
    border: 0px;
}
.div_borderless{
    color: white;
    background-color: dimgrey;
}
.math_signs{
    background-color: cadetblue;
}