body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
@media screen and (max-width: 798px){
    .link, .dropdown, .disabled,.home,select,.search,.btn_search {
        display: none;
    }
    .hamburger{
    display: flex;
    }
}
@media screen and (max-width: 798px){

}
img{
    width: 1.8rem;
}
.main_container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: auto;
    background-color: #2b2b2b;
    padding: 0.5rem;
}

.navbar{
    font-size: large;
    font-weight: bold;
}
.nav1{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    color: white;
}
.nav2{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}
a{
    color: white;
    text-decoration: none;
}
.disabled{
    height: 1.6rem;
}
.link,.dropdown{
    color: ghostwhite ;
}
.btn_search{
    height: 1.6rem;
    border: 1px solid green;
    color: green;
    background-color: #2b2b2b;
    border-radius: 0.2rem;
}
.btn_search:hover{
    background-color: green;
    color: white;
}
.search{
    height: 1.6rem;
}
select{
    height: 1rem;
}
.hamburger{
    display: none;
    background-color: #2b2b2b;
}